Node-RED_flow/nodered_reflow_flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a3d078f0c2474fa5","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"data/reflow_iron/","qos":"2","datatype":"auto","broker":"4b6b3395fab67f08","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":100,"wires":[["5ca0bcc61e800559","d9ed7d824f10b106"]]},{"id":"5ca0bcc61e800559","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[]},{"id":"d9ed7d824f10b106","type":"function","z":"f6f2187d.f17ca8","name":"Check Data","func":"p=JSON.parse(msg.payload);\n\nmsg.payload = {\n    Heater: p.Heater,\n    Temp: p.Temp,\n    PID_p: p.pid_p,\n    PID_i: p.pid_i,\n    PID_d: p.pid_d,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":160,"wires":[["6de482ca713ec57d"]]},{"id":"053c8522f77d21b7","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"cmd/reflow_iron/","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b6b3395fab67f08","x":1170,"y":300,"wires":[]},{"id":"8d312c81878fdccd","type":"inject","z":"f6f2187d.f17ca8","name":"Start Relofw","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":260,"wires":[["4f115fcf2014eee2"]]},{"id":"bf901b3c1b1e7e15","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"cmd/reflow_iron/","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b6b3395fab67f08","x":350,"y":500,"wires":[]},{"id":"04f3dde4265fb2db","type":"inject","z":"f6f2187d.f17ca8","name":"stop heater","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"command\": \"stopPIDControl\"}","payloadType":"json","x":140,"y":500,"wires":[["bf901b3c1b1e7e15"]]},{"id":"6de482ca713ec57d","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"cd1268ff2ba2bf17","name":"","measurement":"reflow","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"samuel_org","bucket":"samuel_bucket","x":590,"y":160,"wires":[]},{"id":"7f1cdd49c29c7c3e","type":"function","z":"f6f2187d.f17ca8","name":"setPIDControl","func":"var temp_input = msg.payload;\n\nmsg.payload = { \n    command: \"setPIDControl\", \n    params: { \n        temp: temp_input, \n        kp:1.5, \n        ki:0.06, \n        kd:0.8\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":260,"wires":[["053c8522f77d21b7","89b482931b0be188"]]},{"id":"c165661d03525ffb","type":"delay","z":"f6f2187d.f17ca8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":620,"y":320,"wires":[["449ca0809ea46520"]]},{"id":"449ca0809ea46520","type":"function","z":"f6f2187d.f17ca8","name":"217度","func":"msg.payload=217;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":320,"wires":[["b70c41e95635f8df"]]},{"id":"4f115fcf2014eee2","type":"function","z":"f6f2187d.f17ca8","name":"150度","func":"global.set('state_reflow', 1);\n\nmsg.payload=150;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":260,"wires":[["7f1cdd49c29c7c3e"]]},{"id":"6ccb7a93e4e58e29","type":"delay","z":"f6f2187d.f17ca8","name":"","pauseType":"delay","timeout":"75","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":380,"wires":[["c386ee1331296b29"]]},{"id":"c386ee1331296b29","type":"function","z":"f6f2187d.f17ca8","name":"stopPIDControl","func":"msg.payload = { \n    command: \"stopPIDControl\"\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":380,"wires":[["053c8522f77d21b7","89b482931b0be188"]]},{"id":"229fc6cc02c7b4f9","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"data/reflow_iron/","qos":"2","datatype":"auto","broker":"4b6b3395fab67f08","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":320,"wires":[["11ba214b700a5bf5"]]},{"id":"11ba214b700a5bf5","type":"function","z":"f6f2187d.f17ca8","name":"Check if > 150","func":"var state_reflow = global.get('state_reflow');\nif (state_reflow!=1){\n    return null;\n}\n\np=JSON.parse(msg.payload);\n\nif(p.Temp>150){\n    node.warn(\"Check > 150, Delay 120s, state_reflow=2\");\n    global.set('state_reflow', 2);\n    return msg;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["c165661d03525ffb"]]},{"id":"2e2587b310615cb4","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"data/reflow_iron/","qos":"2","datatype":"auto","broker":"4b6b3395fab67f08","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":380,"wires":[["d68fe603e9218c90"]]},{"id":"d68fe603e9218c90","type":"function","z":"f6f2187d.f17ca8","name":"Check if > 217","func":"var state_reflow = global.get('state_reflow');\nif (state_reflow!=2){\n    return null;\n}\n\np=JSON.parse(msg.payload);\n\nif(p.Temp>217){\n    node.warn(\"Check > 217, Delay 75s, state_reflow=0\");\n    global.set('state_reflow', 0);\n    return msg;\n}else{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":380,"wires":[["6ccb7a93e4e58e29"]]},{"id":"89b482931b0be188","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":360,"wires":[]},{"id":"b70c41e95635f8df","type":"function","z":"f6f2187d.f17ca8","name":"setPIDControl","func":"var temp_input = msg.payload;\n\nmsg.payload = { \n    command: \"setPIDControl\", \n    params: { \n        temp: temp_input, \n        kp:2, \n        ki:0.6, \n        kd:8\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":320,"wires":[["053c8522f77d21b7","89b482931b0be188"]]},{"id":"4b6b3395fab67f08","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cd1268ff2ba2bf17","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","rejectUnauthorized":false}]